{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}회원가입{% endblock title %}

{% block content %}

<div class="comment-banner">
  <section class="container">
    <h1 class="py-3 text-center" style="color: white;">회원 가입</h1>
    <form class="pb-5" action="" method="POST">
      {% csrf_token %}
      <div class="my-5" style="color: white;">
        {{ form.as_p }}
      </div>
      <div class="mb-1" style="height: 3rem;">
        <button class="green btn w-100 h-100" type="submit">하그스랜드 시작하기</button>
      </div>
    </form>
  </section>
</div>

{% endblock content %}