{% extends 'base.html' %}
{% load static %}

{% block title %}강사님들{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}

{% block content %}

<div class="main-container">
  <div class="heading mt-3">
    <h1 class="heading__title">Hypergrowth Teachers</h1>
    <p class="heading__credits"><a class="heading__link" target="_blank" href="https://dribbble.com/sl">Incredible Education to Trust and Hear</a></p>
  </div>

  {% for teacher in teachers %}
  <div class="cards">
    <div class="card card-4">
      <div class="card__icon"><i class="fas fa-light fa-carrot"></i></div>
      <p class="card__exit"></p>
      <h2 class="card__title">{{ teacher.name }}</h2>
      <p class="card__apply">
        <a class="card__link" href="{% url 'articles:review' teacher.pk %}">Write Now <i class="fas fa-arrow-right"></i></a>
      </p>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}

{% block script %}
{% endblock script %}