{% extends 'base.html' %}

{% block title %}강사님들{% endblock title %}

{% block content %}
<h1 class="my-5 text-center">강사님들</h1>

<section class="container">
  <div class="row justify-content-center">
    {% for teacher in teachers %}
    <div class="teacher_card col-12 col-lg-6">
      <h2>{{ teacher.english_name }}</h2>
      <a href="{% url 'articles:review' teacher.pk %}">Detail</a>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock content %}

{% block script %}
{% endblock script %}