{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}{{ teacher.english_name }}강사님{% endblock title %}

{% block content %}
<section class="banner">
  <img class="banner-profile-image" src="{{ teacher.image.url }}" alt="">
  <h1 class="banner-intro">request.user님 {{ teacher.english_name }}에게 응원 댓글을 남겨주세요!</h1>
</section>

<section class="container mt-4">
  <form action="{% url 'articles:comment' teacher.pk %}" method="post" class="reviews-form">
    {% csrf_token %}
    {{ comment_form }}
    <button class="submit-review" type="submit">제출하기</button>
  </form>
</section>

<section class="comments-list">
  {% for comment in comments %}
  <div class="comment-cards">
    <p class="comment-user">{{ comment.user }}</p>
    <p class="comment-content">{{ comment.content }}</p>
  </div>
  {% endfor %}
</section>

{% endblock content %}

{% block script %}
{% endblock script %}